# dependencies
node_modules/

# environment variables
.env
.env.local

# build outputs
.next/
dist/
build/

# logs
*.log

# prisma studio temp files
.prisma/
src/generated/

# OS files
.DS_Store
Thumbs.db